# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.*

# Next.js build output
.next

# yarn 2+
.yarn
.yarn/*
.pnp.*

# Editors
.vscode
.vim

.DS_Store


dist/